@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #f5e7f2, #867986 85%);
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Add to cart button - Price hover reveal*/

.volume-button {
  font-size: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #471515;  /* Change color based on your design */
}
