@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #f5e7f2, #867986 85%);

}

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

/* Glassmorphism effect on page button controls*/
.glass-container {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.1); /* can adjust alpha for stronger/softer effect */
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
}

/* Add to cart button - Price hover reveal*/
.add-btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 8px;
  background-color: transparent;
  margin-top: 0px;
  margin-right: 0px;
  padding: 2px 4px;
  border-radius: 10px;
  border: none;
  background: #f7f4f48c;
  color: #571e1e;  
  transition: all 0.3s ease-in-out;
}

.add-btn > * {
  display: inline-block;
  transition: all ease-in-out 0.5s;
}

.add-btn__visible {
  padding: 10px 10px;
  text-align: center;
}

.add-btn__invisible {
  width: 100%;
  position: absolute;
  padding: 16px 0;
  left: 0;
  top: -90%;
  font-size: 0.7rem;
  font-weight: 700;
}

.add-btn:hover {
  background: #2d0202d0;
  color: #ffffff;
  box-shadow: 0 0 6px rgba(49, 7, 7, 0.6), 0 0 25px rgba(255, 187, 187, 0.4);
}

.add-btn:hover .add-btn__visible {
  transform: translateY(100%);
}

.add-btn:hover .add-btn__invisible {
  transform: translateY(65%);
}

.add-btn:focus {
  outline: none;
}
